/*
 * Colors  
 */

:root {
  --rich-black: #2f243a;
  --onyx: #444054;
  --imperial: #55286f;
  --isabelline: #4a455b;
  --mint-cream: #f1fffa;
  --rose: #d90368;
}

body {
  background-color: var(--onyx) !important;
}

.navbar-brand {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  font-size: 1rem !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25) !important;
}

.navbar .form-control {
  padding: 0.75rem 1rem !important;
  border-width: 0 !important;
  border-radius: 0 !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
  font-size: 0.9rem;
  font-weight: bold;
}

.nav-item a:hover {
  background-color: var(--imperial);
}

.nav-item svg {
  margin-right: 0.5rem;
}

.form-control-dark {
  color: var(--mint-cream) !important;
  background-color: rgba(255, 255, 255, 0.05) !important;
  border-color: rgba(255, 255, 255, 0.1);
  margin-left: 3px;
}

.form-control-dark:focus {
  border-color: transparent !important;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25) !important;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0 !important; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar .nav-link.active {
  background-color: var(--imperial);
}

.bg-dark-blue {
  background-color: var(--rich-black);
}

.bg-imperial {
  background-color: var(--imperial);
}

.mint-text {
  color: var(--mint-cream) !important;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.dropdown-divider {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  margin-top: 2rem !important;
  border-top: 2px solid var(--onyx) !important;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

.main {
  padding-left: 50px !important;
  padding-right: 50px !important;
  min-height: 100vh !important;
}

/*
 * Main
 */

.popover-title {
  color: var(--rich-black) !important;
  margin-bottom: 0.5rem;
  line-height: 1;
  font-size: 0.9rem;
}

.popover-subtitle {
  font-size: 0.75rem;
}

.popover-description {
  font-size: 0.8rem !important;
}

.popover {
  max-width: 400px !important;
  border: none !important;
}

.popover-body {
  padding: 2rem !important;
}

.title {
  color: var(--rich-black);
}

.movie-title {
  color: var(--mint-cream) !important;
  margin-bottom: 0.5rem;
  line-height: 1;
  font-size: 0.9rem;
}

.movie-subtitle {
  font-size: 0.75rem;
}

.card-container {
  transition: box-shadow, background-color 0.2s ease-in-out;
  padding: 25px !important;
  cursor: pointer;
}

.card {
  border-radius: 0 !important;
  border: none !important;
  background-color: transparent !important;
}

.card-container:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  background-color: var(--isabelline);
}

.rating-badge {
  width: 2.5rem;
  position: relative;
  transform: translateY(-50%);
  margin: 0 auto;
  background-color: var(--rose) !important;
  font-size: 80% !important;
  padding: 0.5em 0.4em !important;
  color: var(--mint-cream);
}

.movie-counter-badge {
  margin-left: 0.3rem;
  padding: 0.25em 0.4em !important;
  background-color: var(--onyx);
  color: var(--mint-cream);
}

.form-group {
  padding: 0.8rem 1rem !important;
  color: var(--mint-cream);
  font-size: 0.9rem;
}

.form-group label {
  line-height: 1.9;
  cursor: pointer;
}

.form-check-label {
  padding-bottom: 0.3rem !important;
}

.spinner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

/*
 * People
 */

.table-dark {
  background-color: var(--rich-black) !important;
}

th {
  border-color: var(--onyx) !important;
}
